name: Get New Data
on:
  push:
    branches:
      - "main"
  schedule:
    - cron: "0 0-23 * * *"

jobs:
  fetch:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH }}
      - uses: actions/setup-python@v4
      - run: python -m pip install -r requirements.txt
      - run: |
          python main.py
      - run: |
              git config user.name "xyz.farai.www Post Scheduler"
              git config user.email "<gandiyafarai@gmail.com>"
              git add -u
              git diff-index --quiet HEAD || (git commit -m "Added new data" && git push origin main)
